target/
.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
*.iws
*.ipr
out/
.classpath
.project
.settings/
.vscode/
.DS_Store
**/target/karate-reports/
**/target/cucumber-reports/
**/target/surefire-reports/
*.log